<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--配置servlet-->
    <servlet>
        <servlet-name>servlet01</servlet-name>
        <servlet-class>com.naruto.web.servlet.ServletHelloWorld</servlet-class>
        <!--如果有该配置项,servlet容器启动时，就加载com.naruto.web.ServletHelloWorld的字节码到内存，创建ServletHelloWorld的实例，并初始化，
            如果没有该配置项，则第一次访问该servlet时，加载com.naruto.web.ServletHelloWorld的字节码到内存，创建ServletHelloWorld的实例，并初始化
            配置的数字：代表不同servlet,在项目启动时的加载到内存中的顺序
            -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet01</servlet-name>
        <url-pattern>/servlet01</url-pattern>
    </servlet-mapping>
</web-app>
